feed:
    url: 'http://raspi1/dump1090-fa/data/aircraft.json'

receiver:
    lat83: 22.000000
    long83: -122.000000

database:
    hostname: 'localhost'
    port: '5432'
    dbname: 'adsb'
    user: 'postgres'
    pwd: 'pwdhere'
