feed1:
    url: 'http://raspi1/dump1090-fa/data/aircraft.json'

receiver1:
    lat83: 22.000000
    long83: -122.000000

feed2:
    url: 'http://raspi2/dump1090-fa/data/aircraft.json'

receiver2:
    lat83: 22.500000
    long83: -122.500000

database:
    hostname: 'localhost'
    port: '5432'
    dbname: 'adsb'
    user: 'postgres'
    pwd: ''

waittimesec: 5
samplescutoff: 100000000
itinerarymaxtimediffseconds: 900
